<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>helpme</title>
        <link rel="stylesheet" href="/static/css/level.css" />
    </head>
    <body>
        <div class="container">
            <div class="ques">Should we help you?</div>
            <div class="main-0">
                <div class="clickMe"><button class="click-1">Click Me</button></div>
                <div class="clickMe">
                    <button class="click-2 hidden">Click Me</button>
                </div>
            </div>
            <a href="/dashboard" role="button">Home</a>
        </div>
        <script src="/static/js/level-2.js"></script>
    </body>
</html>
