<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>What's my name</title>
        <link rel="stylesheet" href="/static/css/level.css" />
    </head>
    <body>
        <div class="container">
            <div class="ques">
                <div>I'm the <span style="color: white">sinister</span> soul who wants you dead. COME WITH ME!!!</div>
            </div>
            <div class="main"><img src="/static/images/level-3.png" alt="" usemap="#imgmap" /></div>
            <map name="imgmap">
                <area shape="rect" coords="290,160,340,240" href="#" />
            </map>
            <div class="ans">
                <div class="input">
                    <label for="answer">Answer : </label>
                    <input id="answer" name="name" type="text" autocomplete="off" />
                    <div class="submit">
                        <button id="submit">Submit</button>
                    </div>
                </div>
            </div>
            <a href="/dashboard" role="button">Home</a>
        </div>
        <script src="/static/js/level-3.js"></script>
    </body>
</html>
