<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>()</title>
        <link rel="stylesheet" href="/static/css/level.css" />
        <style>
            button {
                background-color: red;
            }
        </style>
        <!-- <script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool/disable-devtool.min.js"></script> -->
    </head>
    <body class="level-1">
        <div class="container">
            <div class="ques">Darkness carries truth</div>
            <div class="main">
                <div>
                    <img class="img1" src="/static/images/level-4_1.png" alt="" usemap="#imgmap" />
                    <img class="img2 hidden" src="/static/images/level-4_2.png" alt="" />
                    <map name="imgmap">
                        <area shape="rect" coords="40,240,140,400" href="#" />
                    </map>
                </div>
            </div>
            <a href="/dashboard" role="button">Home</a>
        </div>
        <script src="/static/js/level-4.js"></script>
    </body>
</html>
